/*@font-face{
    font-family: "font-awesome";
    src: local("font-awesome"),
    url("../fonts/fontawesome-webfont.ttf") format("truetype");
    }*/

/*#homeTitle{
    color:#2b78e4;
}
#smallTitle
{
    color:#2b78e4;
}
#smallerTitle{
    color:#2b78e4;
}*/
/*#homeBody{*/
   /* background-color:#eeeeee;*/
    /*text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important
}*/
/*#igorBackground{*/
   /* background-color: white;*/
    /*border: solid black 1.5px;
}*/
/*#textBox{
    width: 75%;*/
    /*background-color: white;*/
    /*border: solid black 1.5px;
    text-align: left;
}*/
/*#ourReviews {*/
    /*margin-top: -50%;*/
    /*text-align: center;
  }

#latestAdditions{
    text-align: center;
}*/
